

body{
	
}
#main-wrapper{
	border-radius : 10px;
	background-color: white;
	border: 3px solid #f1f1f1;
	width: 500px;
	margin: 0 auto;
}
.inner_container{
	width:450px;
	margin:0 auto;
}
#usuarios{
	
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}
	


#contenedor{
	width: 40%;
	background: #fff;
	margin: 0 auto;
	padding: 20px;
	border-radius: 12px;
	-moz-border-radius: 12px;
	-o-border-radius: 12px;
	-webkit-border-radius: 12px;
}

#caja-chat{
	height: 300px; 
	overflow: scroll;
	border: 1px solid #666;
	padding: 20px; 
	background: white; 
	margin-bottom: 3px;
}

#mensajes{
	width: 100%;
	padding: 5px;
	font-weight: bold;
	font-family: 'Mukta Vaani', sans-serif;
}

input[type='text']{
	width: 100%;
	height: 20px;
	border: 1px solid gray;
	border-radius: 5px;
	margin-bottom: 3px;
}

input[type='submit']{
	width: 100%;
	height: 40px;
	border: 1px solid gray;
	border-radius: 5px;
	cursor: pointer;
}

textarea{
	width: 100%;
	height: 40px;
	border: 1px solid gray;
	border-radius: 5px;
	margin-bottom: 3px;
}


